.about {
  padding: 150px;
  margin-bottom: 20px;
}


.row {
  display: flex;
  align-items: center;
}

/* Section */
.about {
  /* background-color: #ffffff; */
  padding: 50px 100px;
  margin-bottom: 20px;
  color: #ccd6f6;
}

/* Image */
.image {
  /* width: 40%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  filter: invert(70%);
  width: 100%;
  min-width: 300px;
  height: auto;
  /* width: 400px; */
}

.contents {
  padding: 20px;
}

.contents h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  /* text-align: right; */
}

#about-para-1 {
  color: #8892b0;
}

#about-para-2 {
  /* font-weight: 400;
    text-align: left; */
  line-height: 1.5;
}
.icons {
  display: inline;
}

/* .icons i{
  color: #17ffb2;
} */

.icons-container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 30px;
    margin-bottom: 20px;
  }

  .image img {
    width: 100%;
    max-width: 10px;
  }

  .row {
    flex-direction: column;
    /* flex-wrap: wrap; */
  }

  .icons-container {
    gap: 10px;
  }
}
