nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 8vh;
  padding: 0 20px;
  /* background: #505b69; */
  /* background: #D8D9DA; */
  /* background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px); */
  background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	transition: 0.5s ease;
  z-index: 20000;
  position: fixed;
  width: 100%;
}

nav img {
  width: 60px;
  /* height: 24px; */
  /* transform-origin: 0% 50%; */
  transition: 0.3s;
}

nav.scrolled-down {
  height: 80px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.14);
  /* filter: invert(80%); */
}

nav.scrolled-down img {
  scale: 1.25;
}

/* nav img {
  width: 30px;
  height: 30px;
} */

.burger {
  display: none;
  cursor: pointer;
}

.menu-items,
.menu {
  display: flex;
  gap: 16px;
  z-index: 2;
}

.menu-right {
  position: relative;
  margin-left: auto;
  gap: 6px;
}

/* .menu-right img {
  width: 30px;
  height: 30px;
  padding: 5px;
} */

.menu-right .badge {
  position: absolute;
  top: 0;
  left: 14px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #161b22;
  background: linear-gradient(#54a3ff, #006eed);
}

a,
a:is(:visited, :active) {
  /* color: #ffffff; */
  color: #1f1f1f;
  text-decoration: none;
  line-height: 24px;
}

/* .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0d1117;
    border: 1px solid #30363d;
    border-radius: 6px;
    padding-right: 4px;
  }

.search input {
    padding: 4px 10px;
    color: #c9d1d9;
    font-size: 13px;
    font-family: inherit;
    border: 0;
    background: transparent;
  }

.search button {
    border: inherit;
    border-radius: inherit;
    background: transparent;
    color: #8b949e;
  } */
#logo {
  /* filter: invert(100%); */
  width: 50px;
  width: 41px;
}

@media (width <= 580px) {
  /* .menu-right img:nth-child(n + 3) {
    display: none;
  } */

  .menu-items {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 0 20px 20px;
    background: #161b22;
    background: #D8D9DA;
    
    
  
    
    
  }

  .menu-left {
    flex-direction: column;
    gap: 12px;
    
  }

  .menu-left a {
    /* margin-top: 10px; */
    border-bottom: 1px solid #30363d;
    /* padding-bottom: 10px;
      padding-top: 10px; */
    padding: 10px 0px;
  }

  .menu-right {
    margin-left: 0;
  }

  .burger {
    display: block;
  }
}

body.open .menu-items {
  display: flex;
  
}
