
/* navigation */
/* nav {
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 2px 2px #e2dfd2;
  box-shadow: 0 2px 2px #e2dfd2;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
} */

/* #logo {
  padding: 0 20px;
} */

/* #logo img {
  transform: scale(0.9);
} */

/* hamburger menu */
/* #hbg-menu {
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
} */

/* #hbg-menu:hover {
  cursor: pointer;
} */

/* The CSS code `span:not(#progress)` is selecting all `<span>` elements except for the one with the id
of "progress". */
/* span:not(#progress) {
  display: block;
  background-color: black;
  width: 20px;
  height: 2px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
} */

/* span:not(#progress):nth-of-type(1) {
  top: calc(50% - 6px);
}

span:not(#progress):nth-of-type(2) {
  top: 50%;
}

span:not(#progress):nth-of-type(3) {
  top: calc(50% + 6px);
} */



/* @-webkit-keyframes turn-45 {
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@keyframes turn-45 {
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.turn-90 {
  -webkit-animation: turn-90 0.2s 0.2s forwards;
  animation: turn-90 0.2s 0.2s forwards;
}

@-webkit-keyframes turn-90 {
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes turn-90 {
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
} */
/* end animation classes */

/* Begin Progress Bar */
#progress-bar {
  width: 100%;
  background: #64FFDA;
  height: 3px;
  position: fixed;
  top: 8vh;
  z-index: 3;
  transition: 0.3s;
}

.progress-bar-heightu {
    position: fixed;
    top: 0;
    /* top: 56px; */
    /* top: 80px; */
}

.progress-bar-heightd {
    /* position: fixed; */
    /* top: 0; */
    /* top: 56px; */
    top: 80px;
}

#progress {
  display: inline-block;
  background: #5a5651;
  height: 5px;
  vertical-align: top;
  transition: all 0.1s ease-in-out;
}

/* End */

/* Begin Main Content */
/* #content {
  width: 630px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  top: 80px;
  z-index: 1;
} */
