@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --tertiary-color1: #64ffda;
  --tertiary-color2: #48b9a5;
  --tertiary-color3: #2ad39f;
}

html {
  scroll-behavior: smooth;
}

html,
body,
.wrapper {
  height: 100%;
}

body {
  margin: 0;
  /* background: rgb(0,31,63);
  background: linear-gradient(225deg, rgba(0,31,63,1) 0%, rgba(4,60,85,1) 95%); */
  /* background: #001f3f; */
  /* background: #0A192F; */
  /* background: #0f051d; */
  background: radial-gradient(#281c3e, #0f051d);
  /* background: #0f051d; */

  /* background: #0d1117; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

.fa-solid {
  color: #2ad39f;
}

/* -------------------------------- */
/* ************ NAVBAR **************/
/* -------------------------------- */

/* navbar linke highlighting  */
.link {
  position: relative;
  display: inline-block;
}
.link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(95, 91, 91);
  border-radius: 4px;
  scale: 0 1;
  transform-origin: right;
  transition: scale 0.25s;
}
.link:hover::before {
  scale: 1;
  transform-origin: left;
}

.showcase {
  position: relative;
  /* right: 0; */
  width: 100vw;
  min-height: 100vh;

  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--neon-color); */
  color: #fff;
  /* z-index: 2; */
  /* transition: 0.6s; */
}

/* Opens the Right Menu Space  */
.showcase.active {
  right: 300px;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

/* ====Overlay on the video =====*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);

  /* Color Blending  */
  /* background: #71a5b3; */
  /* background: var(--overlay-color); */
  /* mix-blend-mode: overlay; */
  /* opacity: 0.5;
      z-index: 1; */
}

.text {
  position: relative;
  /* z-index: 3; */
}

.text h3 {
  font-size: 3em;
  font-weight: 600;
  line-height: 1.3em;
  text-transform: uppercase;
  max-width: 800px;
}



.text p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 680px;
}

.text a {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 600;
  background: #33ffbb;
  box-shadow: 0 0 10px #33ffbb;
  /* text-align: center; */
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  padding: 10px 30px;
  text-decoration: none;
  color: #1f1f1f;
  margin-top: 30px;
  letter-spacing: 2px;
  /* transition: 0.2s; */
}

.text a:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.text span {
  font-size: 1.1em;
  color: #33ffbb;
}

.social {
  position: absolute;
  bottom: 20px;
  /* z-index: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
  margin-bottom: 20px;
}

.social li a {
  display: inline-block;
  /* filter: invert(0); */
  margin-right: 18px;
  /* transform: scale(0.9); */
  transition: 0.5s;
  /* color: rgb(190, 132, 132); */
  /* color: #1fd6dc; */
  color: #17ffb2;
}

.social li a:hover {
  transform: scale(0.8) translateY(-12px);
}

.heading {
  font-size: 3em;
  font-weight: 600;
  line-height: 1em;
  /* text-transform: uppercase; */
  /* max-width: 800px; */
  color: #ccd6f6;
  text-align: center;
}

.headerLine {
  width: 200px;
  height: 2px;
  display: inline-block;
  background: aqua;
}

.sub-heading {
  font-size: 1.5em;
  margin: 20px 0;
  font-weight: 400;
  /* max-width: 680px; */
  color: #8892b0;
  text-align: center;
}

/* SERVICES START  */
.services {
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 50px;
  gap: 100px;
}

.row-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text-container {
  width: 50%;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  word-spacing: -0.05em;
}

.text-container h2 {
  color: #ccd6f6;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

.text-container p {
  color: #8892b0;
  font-size: 20px;
}

.text-container strong {
  color: #ccd6f6;
}

.img-container {
  width: 42%;
}

.row-container:nth-child(odd) {
  .text-container {
    order: 1;
  }
  .text-container p {
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    word-spacing: -0.05em;
  }

  .img-container {
    order: 0;
  }
}

.img-container img {
  width: 100%;
  height: auto;
}

/* SERVICES ENDS */

/* FAQ STARTS */
.faq {
  /* max-width: 700px; */
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  color: #dbdee1;
  background-color: #020104;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 16px rgb(0 0 0 / 25%);
  margin-top: 3rem;
}
.faq__title {
  color: #fff;
  margin-bottom: 20px;
}
.faq__separator {
  border: 1px solid rgb(219 222 225 / 15%);
  border-bottom: none;
}
.faq__item {
  border-radius: 8px;
  transition: background-color 0.25s;
}
.faq__item:hover,
.faq__item:focus,
.faq__item--expanded {
  background-color: #1e1f22;
}
.faq__question {
  position: relative;
  display: block;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  color: #fff;
  font: inherit;
  font-weight: bold;
  text-align: left;
  padding: 16px 48px;
}
.faq__icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 24px;
  transition: transform 0.25s;
}
.faq__question[aria-expanded="true"] .faq__icon {
  transform: translateY(-50%) rotate(90deg);
}
.faq__answer {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.25s;
}
.faq__answer[aria-hidden="false"] {
  grid-template-rows: 1fr;
}
.faq__answer-inner {
  overflow: hidden;
}
.faq__answer-text {
  padding: 0 16px 16px;
}
/* FAQ ENDS  */

/* <========== RESPONSIVE MOBILE DESIGN ==========>  */
@media screen and (max-width: 1024px) {
  /* SERVICES START  */
  .row-container:nth-child(odd) {
    .text-container {
      order: initial;
    }

    .img-container {
      order: initial;
    }
  }

  .row-container {
    flex-direction: column;
    gap: 50px;
  }

  .text-container {
    width: 100%;
  }

  .img-container {
    width: 100%;
  }

  .carousel {
    width: 500px;
  }
  /* SERVICES END */
}

@media screen and (max-width: 768px) {
  .showcase {
    padding: 40px;
  }

  .text h3 {
    font-size: 2em;
  }

  .text p {
    font-size: 0.9em;
  }

  .text a {
    font-size: 0.9em;
    padding: 10px 17px;
    font-weight: 600;
    border-radius: 3px;
  }

  .social li a {
    margin-bottom: 80px;
  }

  .carousel {
    width: 300px;
  }
}
